@charset 'UTF-8';
/* 最新消息*/
.news_main {
	position: relative;
	width: 100%;
	/*height: 400px;*/
	z-index: 1;
	left: 0%;
	top: 2%;
}
.about_us{
	/*border:2px blue dashed;*/
	position: absolute;
	width: 800px;
	height: 600px;
	margin:0px auto;
	z-index: 1;
	left: 50% ;
	margin: 0 0 0 -400px;


}
.left_Menu {
	position: absolute;
	width: 150px;

	height: 238px;
	z-index: 1;
	left: 20%;
	top: 0%;
}
.news_index{
	position: absolute;
	width: 600px;
	height: 400px;
	z-index: 1;
	left: 30%;
	top: 0%;
}
.contact_us_index{
	position: absolute;
	width: 600px;
	height: 400px;
	z-index: 1;
	left: 30%;
	top: 0%;
	
}
.course_index{
	position: absolute;
	width: 800px;
	height: 400px;
	z-index: 1;
	left: 30%;
	top: 0%;
}

.gold_list{
	position:relative;
	width: 800px;
	z-index: 50;
	left: 25%;
	top: 0%;
}
.gold_list ul{
	position:absolute;
	list-style-type: none;
	margin:0;
	width:180px;
	color:#ffffff;
	font-size:20px;
	font-weight:900;
	background-color:#4169e1; 
	padding:5px;
}
.gold_list a{
	color:#ffffff;
}
.gold_list li {
  display: block;
  list-style: none;
}	
.showimg {
	left:200px;
	position:absolute;
}



.id_footer {
	
	font-family:"微軟正黑體";
	text-align:center;
	font-size:16px;
	position: absolute;
	width:100%;
	line-height:20px;	
	padding:10px;
	color:#FFFFFF;
	background-color: #3b5998;
	
}
.id_footer p{
	/*padding:1px 0;*/
	line-height:10px;	
}


ul.left_Menu_ul {
	list-style-type: none;
	color:#0000FF;
	background-color:#CCCCCC; 
	margin:5px -5px;
	padding:0px;
	list-style-type:none; 
	position:absolute;
	
}
.left_Menu_ul{ 
	cursor: pointer; 
}


@charset 'UTF-8';

#top{
	width:909px;
	height:26px;
	background-image: url(../images/h2bg.gif);
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-repeat: repeat-x;
}
#top h2{
	width:150px;
	height:24px;
	float:left;
	font-size:12px;
	text-align:center;
	line-height:20px;
	color:#0066FF;
	font-weight: bold;
	padding-top: 2px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #99BBE8;
	border-left-color: #99BBE8;
}
#top .jg {
	width: 5px;
	float: left;
	background-color: #DCE6F5;
	height: 26px;
}
#topTags{
	width:740px;
	height:24px;
	float:left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 2px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #99BBE8;
	border-left-color: #99BBE8;
	padding-left: 10px;
}
#topTags ul li{
	float:left;
	width:100px;
	height:21px;
	margin-right:4px;
	display:block;
	/*text-align:center;*/
	cursor:pointer;
	padding-top: 3px;
	color: #15428B;
	font-size: 12px;
}
#main{
	width:908px;
	height:551px;
	background-color:#F5F7E6;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#main .jg {
	width: 5px;
	float: left;
	background-color: #DFE8F6;
	height: 50px;
}
#leftMenu{
	width:150px;
	height:550px;
	background-color:#DAE7F6;
	float:left;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #99BBE8;
	border-left-color: #99BBE8;
}
#leftMenu ul{margin:10px;}
#leftMenu ul li{
	width:130px;
	height:40px;
	display:block;
	cursor:pointer;
	/*text-align:center;*/
	margin-bottom:5px;
	background-color: #D9E8FB;
	/*background-image: url(../images/tabbg01.gif);*/
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-top: 2px;
	line-height: 20px;
}
#leftMenu ul li a{
	color:#000000;
	text-decoration:none;
	background-image: url(../images/tb-btn-sprite_03.gif);
	background-repeat: repeat-x;
}

.content{
	width:83%;
	height:100%;
	display:none;
	padding:5px;
	overflow-y:auto;
	line-height:30px;
	background-color: #FFFFFF;
}
#admin_footer{
	width:907px;
	height:26px;
	background-color:#FFFFFF;
	line-height:20px;
	text-align:center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #99BBE8;
	border-left-color: #99BBE8;
	background-image: url(../images/h2bg.gif);
	background-repeat: repeat-x;
}
.content1 {width:740px;height:490px;display:block;padding:5px;overflow-y:auto;line-height:30px;}
/* 特殊按鈕 */
.buttonspecial {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 7px 22px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.buttonspecial:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.buttonspecial:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
/***************/
ul.licss{
	padding:0px;
	margin:0px;
	overflow:hidden;
	list-style-type:none;
	width:100%; 
	float:left;
} 
/* 背景只引人圖片 不用設置其它參數即可對象內全屏平鋪 */ 
ul.licss li{ 
	text-indent:10px; 
	height:34px; 
	line-height:34px
} 
/***************/
/* 自建table*/
table.TB_COLLAPSE {

  border-collapse:collapse;
}
table.TB_COLLAPSE caption {
  padding:10px;
  font-size:24px;
  background-color:#f3f6f9;
}
table.TB_COLLAPSE thead th {
  padding:5px 0px;
  color:#fff;
  font-size:26px;
  text-align:center;
  background-color:#915957;
}
table.TB_COLLAPSE tbody td {
  padding:5px 0px;
  color:#555;
  font-size:22px;
  text-align:center;
  background-color:#fff;
  border-bottom:1px solid #915957;
}
table.TB_COLLAPSE tfoot td {
  padding:5px 0px;
  font-size:22px;
  text-align:center;
  background-color:#d6d6a5;
}


/**************/


.button_use {
   border-top: 1px solid #82c1e8;
   background: #93cef5;
   background: -webkit-gradient(linear, left top, left bottom, from(#13659c), to(#93cef5));
   background: -webkit-linear-gradient(top, #13659c, #93cef5);
   background: -moz-linear-gradient(top, #13659c, #93cef5);
   background: -ms-linear-gradient(top, #13659c, #93cef5);
   background: -o-linear-gradient(top, #13659c, #93cef5);
   padding: 8px 17px;
   -webkit-border-radius: 19px;
   -moz-border-radius: 19px;
   border-radius: 19px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}
.button_use:hover {
   border-top-color: #273c4a;
   background: #273c4a;
   color: #bfbfbf;
}
.button_use:active {
   border-top-color: #2d4859;
   background: #2d4859;
 }
/********************************************/

/*新增*/

.green_button {
   border-top: 1px solid #3a7d34;
   background: #4ac248;
   background: -webkit-gradient(linear, left top, left bottom, from(#41ab3e), to(#4ac248));
   background: -webkit-linear-gradient(top, #41ab3e, #4ac248);
   background: -moz-linear-gradient(top, #41ab3e, #4ac248);
   background: -ms-linear-gradient(top, #41ab3e, #4ac248);
   background: -o-linear-gradient(top, #41ab3e, #4ac248);
   padding: 6px 12px;
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.green_button:hover {
   border-top-color: #8ee031;
   background: #8ee031;
   color: #ffffff;
   }
.green_button:active {
   border-top-color: #40ff00;
   background: #40ff00;
   }



/*修改*/

.orange_button {
   border-top: 1px solid #f5a12c;
   background: #e07e16;
   background: -webkit-gradient(linear, left top, left bottom, from(#fa6000), to(#e07e16));
   background: -webkit-linear-gradient(top, #fa6000, #e07e16);
   background: -moz-linear-gradient(top, #fa6000, #e07e16);
   background: -ms-linear-gradient(top, #fa6000, #e07e16);
   background: -o-linear-gradient(top, #fa6000, #e07e16);
   padding: 6px 12px;
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.orange_button:hover {
   border-top-color: #fc9d37;
   background: #fc9d37;
   color: #ffffff;
   }
.orange_button:active {
   border-top-color: #ffaa00;
   background: #ffaa00;
   }


/*刪除*/

.del_button {
   border-top: 1px solid #f74343;
   background: #e32d2d;
   background: -webkit-gradient(linear, left top, left bottom, from(#d41717), to(#e32d2d));
   background: -webkit-linear-gradient(top, #d41717, #e32d2d);
   background: -moz-linear-gradient(top, #d41717, #e32d2d);
   background: -ms-linear-gradient(top, #d41717, #e32d2d);
   background: -o-linear-gradient(top, #d41717, #e32d2d);
   padding: 6px 12px;
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.del_button:hover {
   border-top-color: #f74d4d;
   background: #f74d4d;
   color: #ffffff;
   }
.del_button:active {
   border-top-color: #fc0000;
   background: #fc0000;
   }
.framepadding{
/*
  padding-top:0px; 
  padding-left:0px; 
  padding-right:0px; 
  padding-bottom:0px; 
  */
  padding:0px 0px 0px 0px
}

/*查詢*/
.selbutton {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#035b96), to(#65a9d7));
   background: -webkit-linear-gradient(top, #035b96, #65a9d7);
   background: -moz-linear-gradient(top, #035b96, #65a9d7);
   background: -ms-linear-gradient(top, #035b96, #65a9d7);
   background: -o-linear-gradient(top, #035b96, #65a9d7);
   padding: 2px 20px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.selbutton:hover {
   border-top-color: #469efc;
   background: #469efc;
   color: #ccc;
   }
.selbutton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

/*
li.left_Menu_li{
	hover{ color:#FFFFFF; background-color:#0000FF; }

}
*/
/**************/